/* .logo {
  height: 50px;
  color: white;
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background-color: "#001529";
}
.site-layout .site-layout-background {
  background: #fff;
} */
